<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h1>Server Sent Events</h1>

    <div class="wrapper">
        <label class="item1" for="ping">Ping: </label>
        <button class="item2" id="ping" onclick="sendPing()">Send Ping</button>
        <label class="item3" for="message">Message: </label>
        <textarea class="item4" id="message" cols="30" rows="10"></textarea>
        <button class="item5" id="send" onclick="sendMessage()">Send Message</button>
    </div>

    <div class="serverUpdates">
        <h2 for="updates">Server Updates:</h2>
        <p id="updates" class="updates"></p>
    </div>
</body>
</html>
